POSTGRES_USER=caldera_admin
POSTGRES_PASSWORD=remplacer_par_un_mot_de_passe
POSTGRES_DB=caldera_tech_db
GROQ_API_KEY=votre_cle_gsk_ici

DATABASE_URL="postgresql://caldera_admin:remplacer_par_un_mot_de_passe@localhost:5432/caldera_tech_db?schema=public"

# DATABASE_URL="postgresql://caldera_dev_1:mot_de_passe_dev@IP_DE_LA_VM:5432/caldera_tech_db?schema=public"
